{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Your Password</h2>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control" name="current" placeholder="Current Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="new" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="confirm" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Update Password</button>
    </form>
{% endblock %}
