{% extends "layout.html" %}

{% block title %}Women's World Cup Winners{% endblock %}
{% block main %}
<style>
    table {
      margin: 0 auto; /* Centers this specific table horizontally */
    }
</style>
<h1>Women's Cricket World Cup Winners</h1>
<table>
  <tr>
    <th>Year</th>
    <th>Winner</th>
    <th>Runner-Up</th>
    <th>Host</th>
  </tr>
  {% for cup in cups %}
  <tr>
    <td><a href="/year/{{ cup.year }}">{{ cup.year }}</a></td>
    <td>{{ cup.winner }}</td>
    <td>{{ cup.runner_up }}</td>
    <td>{{ cup.host }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}